<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <script src="main.js" defer></script>
    <title>Templates</title>
  </head>
  <body>
    <div class="pictures"></div>

    <template id="template-picture">
      <div class="picture">
        <img src="--url here--" class="picture" alt="--title here--" />
        <p class="title">--title here--</p>
        <p class="author">--author here--</p>
      </div>
    </template>
  </body>
</html>
